@media only screen and (max-width: 1300px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto 250px;
    }
    .navbar{
        /* height: 50px; */
        grid-template-rows: 0.01fr;
    }
    .logo{
        margin-left: 30px;
        margin-right: 10px;
        display: flex;
        align-items: center;
    }
    image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.2fr 0.6fr 0.1fr;
        grid-template-areas: 
        'preview'
        'list'
        'popular'
        'down';
    }
    .pop{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(20, auto);
    }
    .item{
        overflow:inherit;
    }
}